.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.materialButton {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-transform: none;
    font-size: 0.9rem;
}

.materialButton:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    filter: brightness(1.1);
}