@font-face {
  font-family: 'Get Schwifty';
  src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #97cf06; 
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --card-background: #242424;
  --font-family-headings: 'Get Schwifty', cursive;
  --font-family-body: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1, h2, h3 {
  color: var(--primary-color);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  font-family: var(--font-family-headings); 
  letter-spacing: 1.5px;
}
h1 {
  font-size: 4.5rem; 
}
h2 {
  font-size: 2.5rem; 
}

h3 {
  font-size: 1.5rem; 
}

section {
  padding: 60px 20px;
  border-bottom: 1px solid #333;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--card-background);
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card h3 {
  margin-top: 0;
}

.btn {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}

.btn:hover {
  filter: brightness(1.1);
}

.placeholder-img {
    height: 250px;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
#features .container p,
#features .card {
    text-align: left;
}
#mission .container p,
#mission .container ul,
#mission .container h4,
#mission .container h5 {
    text-align: left;
}